<!doctype html>
<html >
<head>
    <title>Calculator</title>
    <style>

        .button{
            border-style:groove;
            width:50px;
            height:50px;
            float:left;
            text-align:center;
            position:relative;
            display:flex;
            align-items:center;
            justify-content:flex-end;
        }
        
    </style>
    <script>

        function Number(num) {
            document.getElementById("Par1").value += num

        }
        function Hesapla() {
            var par1 = document.getElementById("Par1").value;
             var result = eval(par1);
            
            document.getElementById("result").innerHTML = result;
        }
       
    </script>
</head>
<body>
    <div style="width:250px;height:250px; border-style:groove;">
        <div style="width:244px;height:50px; border-style:groove;">result</div>

        <div style="width:100%" ;height:220px;>
            <div id="result">Sonuç</div>
            <input type="text" id="Par1" />
            <br />
            <input type="button" value="1" onclick="Number('1');" class="button" />
            <input type="button" value="2" onclick="Number('2');" class="button" />
            <input type="button" value="3" onclick="Number('3');" class="button" />
            <input type="button" value="+" onclick="Number('+');" class="button" />
            <div style="clear:both;"></div>
            <input type="button" value="4" onclick="Number('4');" class="button" />
            <input type="button" value="5" onclick="Number('5');" class="button" />
            <input type="button" value="6" onclick="Number('6');" class="button" />
            <input type="button" value="-" onclick="Number('-');" class="button" />
            <div style="clear:both;"></div>
            <input type="button" value="7" onclick="Number('7');" class="button" />
            <input type="button" value="8" onclick="Number('8');" class="button" />
            <input type="button" value="9" onclick="Number('9');" class="button" />
            <input type="button" value="*" onclick="Number('*');" class="button" />
            <div style="clear:both;"></div>
            <input type="button" value="0" onclick="Number('0');" class="button" />
            <input type="button" value="=" onclick="Hesapla();" class="button" />
            <input type="button" value="/" onclick="Number('/');" class="button" />




            <div style="clear:both;"></div>
        </div>
    </div>
    <hr />

</body>
</html>